@media screen and (max-width:450.09px) {
  /* .toggle {
  
    border-radius: 3.09375rem;
    -moz-border-radius: 3.09375rem;
    -webkit-border-radius: 3.09375rem;
  
    height: 3.25rem;
    width: 8.5rem;

    border: .125rem solid #d8dcdf;

  }

  .toggle::after {
  
    width: 3.75rem;
    height: 3.75rem;
    top:-.3rem;
    border:.125rem solid #d8dcdf;
  }
  .toggle--active::after { left: 4.75rem; }
  .toggle--inactive::after { left: -.15rem; } */
  
}