/* MAIN */
.input {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  border-radius: 0.1389rem;
}

.input__placeholder {
  position: absolute;
  pointer-events: none;
  font-size: 0.9722rem;
  box-sizing: border-box;
  top: 1.1111rem;
  padding: 0 1.1111rem;
  opacity: .6;
  transition: 0.2s ease all;
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.input__field-focused~.input__placeholder,
.input-filled .input__placeholder,
.input-error .input__field:not([value=''])~.input__placeholder {
  top: 0.4167rem;
  font-size: 0.8333rem;
  opacity: .4;
}

.input__section-field,
.input__field {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.input__field {
  font-size: inherit;
  padding: 0 1.1111rem 0;
}

.input__field:not(:only-child) {
  padding: 1.1111rem 1.1111rem 0;
}

.input__section-icon {
  height: 1.1111rem;
  position: absolute;
  right: 1.6667rem;
}

/* SIZE */
.input-big {
  height: 3.7500rem;
  font-size: 0.9722rem;
}

.input-medium {
  height: 3.4722rem;
  font-size: 0.9722rem;
}

.input-small {
  height: 3.0556rem;
  font-size: 0.8333rem;
}

.input-small .input__field {
  padding: 0 1.1111rem;
}


/* COLOR */
.input--grey-border {
  border: 0.0694rem solid #D8DCDF;
}


/* ERROR */
.input-error {
  border: 0.0694rem solid #FA5252;
}

.input__section-error {
  padding: 0.1rem 0 0 0;
}

.input__error {
  font-size: 0.8333rem;
  line-height: 1.0417rem;
  color: #FA5252;
  display: flex;
  white-space: pre-wrap;
}


/* Input button */
.input__section-button {
  position: absolute;
  right: 1rem;
}

.input__button {
  font-style: normal;
  font-weight: normal;
  font-size: 0.9722rem;
  line-height: 120%;
  color: #5E9CDF;
  cursor: pointer;
  user-select: none;
  opacity: 0.6;
}

.input__section-button--hidden {
  display: none;
}