@media (max-width:450.9px) {
  /* .text {
    line-height: 7.546875rem;
  }
  .text-12 {
    font-size: 3.9375rem;
  }
  .text-14 {
    font-size: 4.59375rem;
  }
  .text-16 {
    font-size: 5.25rem;
  }
  */
  .text-18 {
    line-height: 1.56;
    font-weight: 200;
  } 
  .text-54 { 
    font-size: 1.75rem;
    line-height: 1.36;
    font-weight: 500;
  }
}