.contents{
  width: 25.9027rem;
  border-radius: 0.3472rem;
  box-shadow: 0 0.4166rem 2.0833rem -0.1388rem rgba(33, 37, 41, 0.15);
  counter-reset: section;
}

.contents__field{
  color: #4d92dc;
  position: relative;
  white-space: nowrap;
  display: block;
  width: 25.9027rem;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
  padding: 0.625rem 2rem 0.625rem 1.1111rem;
  font-size: 0.9722rem;
  line-height: 1.6666rem;
  letter-spacing: 0.0277rem;
  background-color: #ffffff;
  cursor: pointer;
}

.contents__option{
  width: 100%;
}

.contents__option__input{
  display: none;
}
.contents__option__label__link{
  color: inherit;
}

.contents__option__input:checked + .contents__option__label {
  color: #adb5bd;
}

.contents__option__label:hover {
  color: #4d92dc;
}

.contents__option__label{
  padding: 0.625rem 1.1111rem;
  font-size: 0.9722rem;
  line-height: 1.6666rem;
  letter-spacing: 0.0277rem;
  background-color: #ffffff;
  cursor: pointer;
  display: flex;
}

.contents__field::after{
  content: '';
  position: absolute;
  right: 0.9722rem;
  width: 0.4rem;
  height: 0.4rem;
  border-right: 0.15rem solid #adb5bd;
  border-top: 0.15rem solid #adb5bd;
  transform: rotate(135deg);
  display: inline;
  top: 1.1rem;
}
.contents--open  .contents__field::after{
  transform: rotate(315deg);
  top: 1.35rem;
}

.contents__option__label::before{
  counter-increment: section;
  content: counters(section,".") ".";
  padding: 0 .5rem 0 0;
}

.contents__options{
  max-height: 14rem;
  overflow: scroll;
  display: none;
  position: absolute;
  width: 100%;
  border-bottom: 0.0694rem solid rgba(33, 37, 41, 0.15);
  border-top: 0.0694rem solid rgba(33, 37, 41, 0.15);
}

.contents--open .contents__options{
  display: block;
}

.content__options--top{
  bottom: 2.8rem;
}