@media screen and (max-width:450.9px) {
  .ordered-list {
    padding: .25rem 0 0 0;
    line-height: normal;
  }
  .ordered-list__content {
    width: 100%;
  }

  .ordered-list--default .ordered-list__item::before{
    width: min-content;
    margin: 0 .5rem 0 0;
  }
}