.link {
  font-family: "Stem", sans-serif;

  position: relative;
  
  cursor: pointer;
}
.link::before {
  content: '';

  width: 100%;

  position: absolute;
  bottom:0;
  left: 0;

  height: .0625rem;

  background-color: transparent;
}
.link::after {
  content: '';

  width: 0;

  position: absolute;
  bottom:0;
  left: 50%;

  height: .0625rem;

  background-color: transparent;

  transition: .5s;
}
.link:hover::after {
  width: 100%;
  left: 0;
}

.link-16{
  font-size: 1rem;
}
.link-13 {
  font-size: 0.9027rem;
}
.link-14 {
  font-size: 0.9722rem;

  line-height: 1.375rem;
  letter-spacing: .0325rem;
}
.link-24 {
  font-size: 1.5rem;

  line-height: 1.375rem;
}

.link--blue { color:#559ce8; }
.link--gray { color:#7f7f84; }
.link--white {
  font-weight: 500;

  color:#ffffff;

  text-transform: uppercase;
}

.link--white:hover::after { background-color: #e6e6e6; }
.link--black {
  font-weight: 500;

  color:#181818;

  text-transform: uppercase;
}
.link--black:hover::after { background-color: #181818; }
.link--dark {
  color:#2b2b2b;
}
.link--login{
  background-color: #e9ecef;
  height: 2.7777rem;
  width: 2.7777rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

.link--login .icon--login{
  height: .875rem;
  width: 1rem;
}

.link--policy{
  color: #4d92dc;
  line-height: 1.3888rem;
  font-size: 0.7638rem;
}

.link--help-category{
  color: #4d92dc;
  width: 30.2777rem;
  padding: 0 2.7777rem 2.0833rem 0;
  font-weight: 500;
}

.link--help-instruction{
  color: #4d92dc;
  padding: 0 0 2rem;
  font-weight: 500;
}

.link--disabled {
  cursor: default;
  pointer-events: none;
  color: #adb5bd;
}

.link--l-search{
  font-weight: 800;
  color: #5E9CDF;
  font-family: 'Manrope', sans-serif;
}
