@media screen and (min-width: 1600px) {

  /* .instruction__section-filter {
    width: 25.5rem;
    padding: 3.125rem;
  }

  .instruction__section-content {
    width: calc(100% - 34.4rem);
    margin: 0 0 6.875rem 2.5rem;
  } */
}