.signature{
  display: flex;
  justify-content: flex-end;
}

.signature__item{
  display: flex;
}

.signature__line{
  border-bottom: 0.0694rem solid #000000;
  position: relative;
  margin: 0 .5rem 0 0;
}

.signature__line::after{
  content: '/';
  position: absolute;
  right: -0.3rem;
}