@media screen and (max-width:450.9px) {
  /* .radio__field {
    align-items: center;
  }
  .radio__section {
    padding: 0 0 2.953125rem 0;
  }
  .radio__field__section-button {
    padding: 0 3.28125rem 0 0;
  }
  .radio__button {
    width: 4.875rem;
    height: 4.875rem;
    border: .328125rem solid #4d92dc;
  }
  .radio__button::before {
    width: 2.9375rem;
    height: 2.9375rem;
  }
  .radio__label {
    font-size: 3.59375rem;
  } */
}